*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    margin: 100px auto;
}
.section-title{
    text-align: center;
}
.section-title,.section-subtitle{
    margin: 12px 0;
}
.groceries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
.groceries li{
    padding: 10px 0;
    flex-basis: 33.33%;
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 13px;
    font-weight: normal;
    background-color: brown;
}
.groceries *{
    color: white;
}
.groceries li title{
    font-size: 16px;
    font-weight: bold;
    background: black;
}
.section-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-subtitle span{
    font-size: 18px;
    font-weight: bold;
    background: black;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 25px;
}